html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0; /* Remove auto margin since flexbox handles centering */
}